<!DOCTYPE html>
<html>
  <head>
    <title>Assetpipeline</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="menu">
      <div class="option"> Gmail </div>
      <div class="option"> Images </div>
      <div class="option"> <%= image_tag "menu.png" %> </div>
      <div class="option button"> Sign in </div>
    </header>
    <%= yield %>
  </body>
</html>
